<%- include('header'); -%>
<h2>Contact Us</h2>
<table>
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Phone Number</th>
    <th>Email</th>
  </tr>
  <tr>
    <td>John Doe</td>
    <td>12 Lane Street</td>
    <td>01234 567 890</td>
    <td>johndoe@example.com</td>
  </tr>
  <tr>
    <td>Lauren Ipsum</td>
    <td>2 Avenue Road</td>
    <td>09876 543 210</td>
    <td>loremipsum@example.com</td>
  </tr>
  <tr>
    <td>Jane Doe</td>
    <td>6 Drive Walk</td>
    <td>02468 135 791</td>
    <td>janedoe@example.com</td>
  </tr>
</table>
<%- include('footer'); -%>